body {
    font-family: Arial;
    background-color: #1a1a1a; 
    color: #fff; 
    text-align: center; 
    padding: 20px; 
}

header {
    display: flex;
    justify-content: space-between;
    
}

.header-icons {
    display: flex;
}


nav {
    background-color: #333;
    margin-bottom: 30px;
}

nav a {    
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ff6600;   
}

main img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    flex: 0 0 calc(33.33% - 20px); /* Pour avoir 3 colonnes et un espacement */
    margin: 10px; /* Espacement entre les articles */
    text-align: left; /* Aligner le texte à gauche */
}

article img {
    width: 100%; /* Assurer que les images remplissent l'espace disponible */
    height: auto; /* Assurer que l'image conserve ses proportions */
}

footer {
    background-color: #333; 
    color: #fff; 
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #fff;
}
.logo {
   display: flex;
   width: 150px;
   height: 100px;
}